@font-face {
    font-family: "sportfont";
    src: url('../fonts/iconfont.eot?t=1477377056740');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1477377056740#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1477377056740') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1477377056740') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1477377056740#sportfont') format('svg');
    /* iOS 4.1- */
}

.demofont {
    font-family: "sportfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.demofont i {
    font-family: "sportfont" !important;
}

.icon-round-check:before {
    content: "\e657";
}

.icon-telephone:before {
    content: "\e60f";
}

.icon-round:before {
    content: "\e6d7";
}

.icon-membercenter:before {
    content: "\e611";
}

.icon-location:before {
    content: "\34b1";
}

.icon-tabletennis:before {
    content: "\e60e";
}

.icon-swimming:before {
    content: "\e627";
}

.icon-team:before {
    content: "\e7e3";
}

.icon-clubs:before {
    content: "\e9d1";
}

.icon-opentime:before {
    content: "\e619";
}

.icon-password:before {
    content: "\e607";
}

.icon-center:before {
    content: "\e600";
}

.icon-wallet:before {
    content: "\e6e2";
}

.icon-basketball:before {
    content: "\e614";
}

.icon-football:before {
    content: "\e62f";
}

.icon-balance:before {
    content: "\e7a9";
}

.icon-order:before {
    content: "\e639";
}

.icon-coin:before {
    content: "\e7ac";
}

.icon-event:before {
    content: "\e617";
}

.icon-badminton:before {
    content: "\e656";
}

.icon-favourite:before {
    content: "\e726";
}

.icon-infos:before {
    content: "\e752";
}

.icon-tennis:before {
    content: "\e6fd";
}

.icon-club:before {
    content: "\e603";
}

.icon-tips:before {
    content: "\e63a";
}

.icon-round-success:before {
    content: "\e658";
}

.icon-round-fail:before {
    content: "\e644";
}

.icon-message:before {
    content: "\e642";
}

.icon-refund:before {
    content: "\e61a";
}

.icon-refundlabel:before {
    content: "\e68c";
}

.icon-refundlabel1:before {
    content: "\e689";
}

.icon-ticket:before {
    content: "\e685";
}

.icon-ticket2:before {
    content: "\e606";
}

.icon-ticket3:before {
    content: "\e6bf";
}

.icon-qrcode:before {
    content: "\e601";
}

.icon-donate-ticket:before {
    content: "\e65e";
}

.icon-donate:before {
    content: "\e648";
}

.icon-location-solid:before {
    content: "\e602";
}

.icon-location-hollow:before {
    content: "\e604";
}

.icon-cards:before {
    content: "\e605";
}

.icon-vip:before {
    content: "\e630";
}

.icon-tickets:before {
    content: "\e61f";
}

.icon-call:before {
    content: "\e613";
}

.icon-photos:before {
    content: "\e646";
}

.icon-tickets2:before {
    content: "\e631";
}

.icon-cards2:before {
    content: "\e60d";
}

.icon-refund2:before {
    content: "\e6c3";
}

.icon-password2:before {
    content: "\e620";
}

.icon-vip2:before {
    content: "\e608";
}

.icon-order2:before {
    content: "\e811";
}

.icon-ticket2:before {
    content: "\e606";
}

.icon-telephone2:before {
    content: "\e653";
}

.icon-train2:before {
    content: "\e61b";
}

.icon-train:before {
    content: "\e65a";
}

.icon-moment:before {
    content: "\e62a";
}

.icon-moment2:before {
    content: "\e797";
}

.icon-trainee1:before {
    content: "\e609";
}

.icon-fee2:before {
    content: "\e632";
}

.icon-trainee2:before {
    content: "\e615";
}

.icon-fee1:before {
    content: "\e633";
}

.icon-plan2:before {
    content: "\e621";
}

.icon-plan1:before {
    content: "\e623";
}

.icon-location1:before {
    content: "\e63d";
}

.icon-location2:before {
    content: "\e6b8";
}

.icon-calendar:before {
    content: "\e60a";
}

.icon-coach:before {
    content: "\e64c";
}
