// color 
$mainColor:#293848;
$primaryColor:#ddeeff;
//size
$sfontSize:12px;
$fontSize:16px;
$lfontSize:20px;
$brand-primary-color: #000;
$brand-accent-color: #FF4081;
$ui-button-height:90px !default;
$ui-button-height--small:90px !default;
$ui-button-height--large:90px !default;
